body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	background-color: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 6em;
	font-weight: 800;
	color: #0e2ce2;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

p {
	font-size: 1.2em;
	font-weight: 400;
	color: #0e2ce2;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	border-bottom: #0e2ce2 2px solid;
}

a {
	color: #0e2ce2;
	text-decoration: none;
}

.logo {
	height: 3em;
	width: 3em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../assets/img/EspritsFrappeursLogo.png");
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25em;
	font-size: 1.2em;
}

main {
	display: flex;
	width: 100%;
}

.sidebar {
	height: 100vh;
	border-right: #0e2ce2 2px solid;
	padding: 2em 0.5em;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 120px;
	background-color: #fff;
	position: sticky;
	top: 0;
	left: 0;
}

.pageContainer {
	flex: 1;
	max-width: calc(100% - 120px);
}

.textSidebar {
	display: flex;

	justify-content: space-between;
	align-items: center;
	writing-mode: vertical-rl;
	text-orientation: sideways;
	transform: rotate(180deg);
	color: #0e2ce2;
	font-size: 1em;

	height: 39em;
}

.nameSidebar {
	font-size: 2em;
	font-weight: 800;
}

#nameSidebarLight {
	font-weight: 200;
}

.asterix {
	font-size: 5em;
	position: relative;
	left: -0.15em;
	font-weight: 600;
}

.pageContent {
	width: 100%;
}

.socialsSidebar {
	height: 8em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-around;
}

.socialIconSidebar {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 2em;
}

#twitterSocialIconSidebar {
	background-image: url("../assets/img/ef_twitter.png");
}

#instagramSocialIconSidebar {
	background-image: url("../assets/img/ef_insta.png");
}

#behanceSocialIconSidebar {
	background-image: url("../assets/img/ef_behance.png");
}

.heroHomepage {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/img/ef_heroBackground.png");
	background-position: right center;
	background-size: contain;
	background-repeat: no-repeat;
	border-bottom: #0e2ce2 2px solid;
}

.articlesContainerHomepage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.articleCardHomepage {
	border-right: #0e2ce2 2px solid;
}

.thumbnailArticleHomepage {
	height: 15em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: #0e2ce2 solid 2px;
	position: relative;
	width: 100%;
}

.badge {
	background-color: #fff;
	padding: 0.2em 1.2em;
	border: #0e2ce2 2px solid;
	border-radius: 56px;
	width: fit-content;
	position: absolute;
	bottom: 12px;
	right: 12px;
	font-size: 1em;
}

.contentArticleHomepage {
	border-bottom: #0e2ce2 solid 2px;
	padding: 0.5em 1.2em;
}
.titleArticleHomepage {
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.2em;
	color: #0e2ce2;
	font-weight: 400;
	font-size: 1.2em;
}

#articleHomepage1 {
	width: 40%;
}

#articleHomepage2 {
	width: 30%;
}

#articleHomepage3 {
	width: 30%;
}

.articleHero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/img/ef_heroBackground.png");
	background-position: right center;
	background-size: contain;
	background-repeat: no-repeat;
	border-bottom: #0e2ce2 2px solid;
	padding: 10em;
}

/* articleContent h1 */
.articleContent h1 {
	font-size: 6em;
	font-weight: 200;
	color: #0e2ce2;
}

.articleContent h2 {
	font-size: 5em;
	font-weight: 600;
	color: #0e2ce2;
}

.articleContent li {
	font-size: 1.2em;
	color: #0e2ce2;
}

.articleContent {
	padding: 6em;
}
